@font-face {
  font-family: "iconfont";
  src: url(https://2g-filebox-daemon-test.oss-cn-shenzhen.aliyuncs.com/14/AICARD_PUBLIC/YKSaaSPublic/mp/iconfont/610246650320af1a6def9a98bd539965/iconfont.eot?);
  src: url(https://2g-filebox-daemon-test.oss-cn-shenzhen.aliyuncs.com/14/AICARD_PUBLIC/YKSaaSPublic/mp/iconfont/610246650320af1a6def9a98bd539965/iconfont.eot?#iefix)
      format("embedded-opentype"),
    url(https://2g-filebox-daemon-test.oss-cn-shenzhen.aliyuncs.com/14/AICARD_PUBLIC/YKSaaSPublic/mp/iconfont/610246650320af1a6def9a98bd539965/iconfont.woff2?)
      format("woff2"),
    url(https://2g-filebox-daemon-test.oss-cn-shenzhen.aliyuncs.com/14/AICARD_PUBLIC/YKSaaSPublic/mp/iconfont/610246650320af1a6def9a98bd539965/iconfont.woff?)
      format("woff"),
    url(https://2g-filebox-daemon-test.oss-cn-shenzhen.aliyuncs.com/14/AICARD_PUBLIC/YKSaaSPublic/mp/iconfont/610246650320af1a6def9a98bd539965/iconfont.ttf?)
      format("truetype"),
    url(https://2g-filebox-daemon-test.oss-cn-shenzhen.aliyuncs.com/14/AICARD_PUBLIC/YKSaaSPublic/mp/iconfont/610246650320af1a6def9a98bd539965/iconfont.svg?#iconfont)
      format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-gift-o:before {
  content: "\EA01";
}
.icon-gift:before {
  content: "\EA02";
}
.icon-home-o:before {
  content: "\EA03";
}
.icon-home:before {
  content: "\EA04";
}
.icon-me-o:before {
  content: "\EA05";
}
.icon-me:before {
  content: "\EA06";
}
.icon-message-o:before {
  content: "\EA07";
}
.icon-message:before {
  content: "\EA08";
}
.icon-my-o:before {
  content: "\EA09";
}
.icon-my:before {
  content: "\EA0A";
}
.icon-post-o:before {
  content: "\EA0B";
}
.icon-post:before {
  content: "\EA0C";
}
